@model HoltDan.Models.PhotosViewModel
@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
}
@section Styles
{
    <style>
    </style>
}
@using (Html.BeginForm("Index", "Photos", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-xs-3">
            <div class="siteDiv">
                <div class="siteSection">Duration</div>
                <div>
                    @Html.RadioButtonFor(model => model.Interval, PhotosViewModel.Intervals.Secs3, new { id = "Secs3" })
                    @Html.Label("Secs3", "3 sec.")
                    <br />
                    @Html.RadioButtonFor(model => model.Interval, PhotosViewModel.Intervals.Secs10, new { id = "Secs10" })
                    @Html.Label("Secs10", "10 sec.")
                    <br />
                    @Html.RadioButtonFor(model => model.Interval, PhotosViewModel.Intervals.Secs30, new { id = "Secs30" })
                    @Html.Label("Secs10", "30 sec.")
                    <br />
                    @Html.RadioButtonFor(model => model.Interval, PhotosViewModel.Intervals.Min1, new { id = "Min1" })
                    @Html.Label("Min1", "1 min.")
                    <br />
                    @Html.RadioButtonFor(model => model.Interval, PhotosViewModel.Intervals.Min5, new { id = "Min5" })
                    @Html.Label("Min5", "5 min.")
                    <br />
                    @Html.RadioButtonFor(model => model.Interval, PhotosViewModel.Intervals.Min10, new { id = "Min10" })
                    @Html.Label("Min10", "10 min.")
                </div>
                <div class="siteSection">Sequence</div>
                <div>
                    @Html.RadioButtonFor(model => model.Order, PhotosViewModel.Orders.Sequential, new { id = "Sequential" })
                    @Html.Label("Sequential", "Sequential")
                    @Html.RadioButtonFor(model => model.Order, PhotosViewModel.Orders.Random, new { id = "Random" })
                    @Html.Label("Random", "Random")
                </div>
            </div>
                <div>
                    <button type="submit" class="btn btn-primary pull-right">Go!</button>
                </div>
        </div>
        <div class="col-xs-9">
            <div class="siteDiv">
                <input type="button" id="checkAll" value="Check All" class="btn btn-default btn-xs" />
                <input type="button" id="uncheckAll" value="Uncheck All" class="btn btn-default btn-xs" />
                <div class="siteSection">Family Photos</div>
                <div class="scrollDiv">
                    @Html.EditorFor(x => x.Dirs)
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#checkAll").click(function () {
                $(".photoDirs input:checkbox").attr('checked', true);
            })
            $("#uncheckAll").click(function () {
                $(".photoDirs input:checkbox").attr('checked', false);
            })
        });
    </script>
}
