@{
    ViewBag.Title = "Scales";
    Layout = "~/Views/Shared/_LayoutScales.cshtml";

    var _notes = new List<string> { "C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B" };
    var _totalSteps = 15;
    var _unitX = 5;
    var _rowHeight = 10;
    var _rowWidth = 100;
    var _runeL = 8;
    var _runeM = 6;
}
@section Styles
    {
    <style>
    #base{
    /*height: 600px;*/
    /*width: 100%;*/
    /*height: 600px;
        width: auto;*/
    /*height: 400px;
        width: 100px;*/
    }
    .vfinger{
        color: tan;
    }
    svg{
        /*height: 80%;
        width: auto;*/
        height: 700px;
        width: auto;
    }
    body{
            font-family: "Arial", Gadget, sans-serif;
        }
    
    </style >
    }
<div id="base">
    @*width="100" height="900"*@
    <svg viewBox="0 0 @(_rowWidth) @(_rowHeight*_totalSteps)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <symbol class="rune" id="textRune" viewBox="0 0 50 50">
            <text class="runeText" fill="currentColor" x="50%" y="50%" text-anchor="middle" font-size="40" dy=".3em">A</text>
        </symbol>
        <symbol class="rune" id="circRune" viewBox="0 0 50 50">
            <circle class="runeBack" stroke="black" stroke-width="2" cx="25" cy="25" r="24"></circle>
            <text class="runeText" fill="currentColor" x="50%" y="50%" text-anchor="middle" font-size="40" dy=".3em">A</text>
        </symbol>
        <symbol class="rune" id="rectRune" viewBox="0 0 50 50">
            <rect class="runeBack" stroke="black" stroke-width="2" x="0" y="0" width="50" height="50" />
            <text class="runeText" fill="currentColor" x="50%" y="50%" text-anchor="middle" font-size="40" dy=".3em">R</text>
        </symbol>
        @for (int i = 0; i < _totalSteps; i++)
        {
            var intIdx = i % 7;
            var y = i * _rowHeight;
            var yL = y + 1;
            var yM = y + 2;
    <g class="step" data-keyIdx="@i">
        <rect data-keyIdx="@i" data-intIdx="@(intIdx)" stroke="black" stroke-width="1" x="0" y="@y" width="@_rowWidth" height="@_rowHeight">
        </rect>
        <use class="noteName" data-intIdx="@(intIdx)" xlink:href="#circRune" x="@(1*_unitX)" y="@(yL)" width="@_runeL" height="@_runeL" />
        <use class="chordForm" data-intIdx="@(intIdx)" xlink:href="#textRune" x="@(3*_unitX)" y="@(yM)" width="@_runeM" height="@_runeM" />
        <use class="root" data-intIdx="0" xlink:href="#rectRune" x="@(5*_unitX)" y="@yM" width="@_runeM" height="@_runeM" />
        <use class="third" data-intIdx="2" xlink:href="#rectRune" x="@(6*_unitX)" y="@yM" width="@_runeM" height="@_runeM" />
        <use class="fifth" data-intIdx="4" xlink:href="#rectRune" x="@(7*_unitX)" y="@yM" width="@_runeM" height="@_runeM" />
        <use class="seventh" data-intIdx="6" xlink:href="#rectRune" x="@(9*_unitX)" y="@yM" width="@_runeM" height="@_runeM" />
    </g>
        }
    </svg>
</div>
    @section Scripts
{
    <script type="text/javascript" >
        let scales = new Scales();
    </script >
}
