@{
    ViewBag.Title = "Scales";
    Layout = "~/Views/Shared/_LayoutMinimal.cshtml";

    var _notes = new List<string> { "C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B" };
    var _modes = new List<string> { "Ionian", "Dorian", "Phrygian", "Lydian", "Mixolydian", "Aeolian", "Locrian" };
    var _totalSteps = 15;
}
@section Styles
{
    <link href="@Url.Content("~/Content/DanScales.less")" rel="stylesheet" />
}
<div id="danMenu">
    <div id="pickKey">Key</div>
</div>
<div class="selKey" id="selKey">
    @for (int i = 0; i < _notes.Count(); i++)
    {
        <div class="optSelect @(_notes[i].Length > 1 ? "optSelectAccidental" : "")" data-key="@i">@_notes[i]</div>
    }
</div>
<div id="base">
    @for (int i = 0; i < _totalSteps; i++)
            {
                var intIdx = i % 7;
    <div class="row step" id="step@(i)" data-intIdx="@(intIdx)" >
        <div class="col-xs-1"></div>
        <div data-intIdx="@(intIdx)" class="col-xs-1 noteName"></div>
        <div class="col-xs-1"></div>
        <div data-intIdx="@(intIdx)" class="col-xs-2 chordForm"></div>
        <div data-intIdx="0" class="col-xs-1 root innerInterval" title="root"></div>
        <div data-intIdx="2" class="col-xs-1 third innerInterval" title="3rd"></div>
        <div data-intIdx="4" class="col-xs-1 fifth innerInterval" title="5th"></div>
        <div class="col-xs-1"></div>
        <div data-intIdx="6" class="col-xs-1 seventh innerInterval" title="7th"></div>
    </div>
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        let scales = new Scales();
    </script>
}
