@{ 
    var root = (ViewBag.MediaRoot as string) + "/songs/";
   // root = "~/media/songs/";
}
@helper AudioPlayer(string fileName, string title, string notes)
{
var root = (ViewBag.MediaRoot as string) + "/songs/";
    root = "/media/songs/";
    <tr>
        <td><audio controls="controls"><source src="@(root)/@fileName" type="audio/mp3" />Your browser does not support the audio tag.</audio></td>
        <td><div class="danDiv"><h4>@title</h4></div></td>
        <td><div class="danDiv">@notes</div></td>
    </tr>
}
<h1>All this is history...</h1><hr>
<h2>2003-ish (maybe)</h2>
<p>These are back to being more guitar-oriented.</p>
<table border="0" width="100%" id="table1" cellpadding="2" cellspacing="4">
    @AudioPlayer("Theme_0.mp3", "Theme", "It's epic.<p> It's got one of my all - time favorite lyrics: Jump start my jumpy heart - it ought to be easy but I'm not too smart - it's a fine line - I cross it all the time")
    @AudioPlayer("A7Pick.mp3","A7Pick","This (and Kid Summer) aren't instrumentals - they just don't have any vocals. The name's purely functional.")
    @AudioPlayer("Kid%20Summer_0.mp3","Kid Summer","Learned a couple new chords that day")
</table>
<hr>
<h2>2 2000</h2>
<p>
    These were started when I had a MIDI-only studio then finished off when I had analog capabilities again. The background MIDI tracks were recorded in the late 90's.
</p>
<table border="0" width="100%" id="table2" cellspacing="4" cellpadding="2">
    @AudioPlayer("2%202000/Be%20Too.mp3","Be Too","Featuring my daughter Cristina's voice sampled from a home video. She was 7 at the time.")
    @AudioPlayer("2%202000/Lao.mp3", "Lao</a>", "The voices are from the movie &quot;The 7 Faces Of Dr. Lao&quot;. You ROOL, Tony!")
    @AudioPlayer("2%202000/Cleanse.mp3", "Cleanse", "Another found-sound excursion: &quot;The Omega Man&quot;")
    @AudioPlayer("2%202000/Shake%20It%20That.mp3", "Shake It That", "Featuring my son Nick's voice sampled from a home video when he was 5. Easily one of the best songs I've ever done.")
    @AudioPlayer("2%202000/Jamboree.mp3", "Jamboree", "Kinda old at the time - I added sounds &amp; guitar to 'finish' it.")
</table>
<hr>
<h2>Big Bang Theory ... And Then Some</h2>
<p>
    Recorded after moving to Atlanta in 1988. Some were new; some were re-dos of solos and Crossword Smile songs from the Cincinnati days. Recorded 1989 - 1991.
</p>
<table border="0" width="100%" id="table3" cellspacing="4" cellpadding="2">
    @AudioPlayer("Big%20Bang%20Theory%20...%20And%20Then%20Some/4%20Walls.mp3","4 Walls", "3rd or 4th iteration of this song.")
    @AudioPlayer("Big%20Bang%20Theory%20...%20And%20Then%20Some/Come%20On%20Now.mp3","Come On Now", "Skank")
    @AudioPlayer("Big%20Bang%20Theory%20...%20And%20Then%20Some/We%20Go%20(Go).mp3","We Go (Go)", "Trying to emulate my good buddy Carl Rogers' bass playing.")
    @AudioPlayer("Big%20Bang%20Theory%20...%20And%20Then%20Some/Animal%20Grace.mp3","Animal Grace", "")
    @AudioPlayer("Big%20Bang%20Theory%20...%20And%20Then%20Some/Night%20Tides.mp3","Night Tides", "I wish I hadn't done those dorky guitar runs but this is a good one.")
    @AudioPlayer("Big%20Bang%20Theory%20...%20And%20Then%20Some/Nobody%20Driving.mp3","Nobody Driving", "Words to live by.")
    @AudioPlayer("Big%20Bang%20Theory%20...%20And%20Then%20Some/Banging%20The%20Drum.mp3","Banging The Drum", "Dedicated to everyone I've ever played in a band with.")
    @AudioPlayer("Big%20Bang%20Theory%20...%20And%20Then%20Some/Every%20Thing%20Burns.mp3","Every Thing Burns", "One of my faves.")
    @AudioPlayer("Big%20Bang%20Theory%20...%20And%20Then%20Some/Riding%20The%2012th.mp3","Riding The 12th", "")
    @AudioPlayer("Big%20Bang%20Theory%20...%20And%20Then%20Some/Breaks%20Into....mp3","Breaks Into...", "Another song I wrote and played with Carl Rogers - redone here.")
    @AudioPlayer("Big%20Bang%20Theory%20...%20And%20Then%20Some/On%20My%20Mind.mp3","On My Mind", "A special shout-out to my Dad Gawain - if it wasn't for his Jerry Reed albums I wouldn't have learned to play like this.")
    @AudioPlayer("Big%20Bang%20Theory%20...%20And%20Then%20Some/Stories.mp3","Stories", "Another of my faves.")
</table>
<hr>
<h2>1986 - 1989</h2>
<p>Some are finished songs - some just quickies. The prefix is Year/Month</p>
<table border="0" width="100%" id="table5" cellspacing="4" cellpadding="2">
    @AudioPlayer("1986%20-%201989/8906%20Summer%20Again.mp3","8906 Summer Again", "There's rocking and then there's <b>ROCKIN'!</b>")
    @AudioPlayer("1986%20-%201989/8710%20Stay.mp3","8710 Stay", "Would have been so much better without the ridiculous bible references. Christ.")
    @AudioPlayer("1986%20-%201989/8709%20The%20Cold%20Light.mp3","8709 The Cold Light", "A remake of Daynight without the oh-so-cliche rain references.")
    @AudioPlayer("1986%20-%201989/8709%20Sweet%20Song.mp3","8709 Sweet Song", "It's better to try to sing a note and miss than ....")
    @AudioPlayer("1986%20-%201989/8704%20Riding%20The%2012th.mp3","8704 Riding The 12th", "")
    @AudioPlayer("1986%20-%201989/8704%20Like%20Life%20And%20Love%20And%20Fun.mp3","8704 Like Life And Love And Fun", "This song still cracks me up.")
    @AudioPlayer("1986%20-%201989/8704%20Flashback.mp3","8704 Flashback", "")
    @AudioPlayer("1986%20-%201989/8704%20Boys%20In%20Black.mp3","8704 Boys In Black", "")
    @AudioPlayer("1986%20-%201989/8609%20Wobbly%20Run.mp3","8609 Wobbly Run", "")
    @AudioPlayer("1986%20-%201989/8609%20Untitled%203.mp3", "8609 Untitled 3", "")
    @AudioPlayer("1986%20-%201989/8609%20Untitled%202.mp3","8609 Untitled 2", "")
    @AudioPlayer("1986%20-%201989/8609%20Untitled%201.mp3","8609 Untitled 1", "")
</table>
<hr>
<h2>1984 - 1986</h2>
<p>Some are finished songs - some just quickies. The prefix is Year/Month</p>
<table border="0" width="100%" id="table4" cellspacing="4" cellpadding="2">
    @AudioPlayer("1984%20-%201986/8606%20The%20First%20Shake.mp3","8606 The First Shake", "Here's where The Talking Heads, Red Hot Chili Peppers and various other funky 80's artists took hold of me.")
    @AudioPlayer("1984%20-%201986/8603%20The%20Escape.mp3","8603 The Escape", "")
    @AudioPlayer("1984%20-%201986/8603%20Some%20Days.mp3","8603 Some Days", "More tasty guitar.")
    @AudioPlayer("1984%20-%201986/8603%20D.O.R.K..mp3","8603 D.O.R.K.", "")
    @AudioPlayer("1984%20-%201986/8603%20A%20Noisy%20Day%20In%20The%20Apt.mp3","8603 A Noisy Day In The Apt", "If you haven't done a backwards-guitar song you're not a <i>real</i> guitar player.")
    @AudioPlayer("1984%20-%201986/8602%20Flick%20The%20Switch.mp3","8602 Flick The Switch", "Later to be a Crossword Smile classic. Of all the days in bands this is the only song the audience knew by name and requested.")
    @AudioPlayer("1984%20-%201986/8602%204%20Walls%20-%20muzak.mp3","8602 4 Walls - muzak", "The guitars are really cool on this version.")
    @AudioPlayer("1984%20-%201986/8504%20You're%20In%20-%20muzak.mp3","8504 You're In - muzak", "My brother David jammed this out on a hissy tape recorder one day and I loved it so much I had to preserve it.")
    @AudioPlayer("1984%20-%201986/8502%20That%20Certain%20Feeling%20(Walk%20Don't%20Run).mp3","8502 That Certain Feeling", "I always loved this one - wish I'd finished it. Subtitled 'Walk - Don't Run' with that intent.")
    @AudioPlayer("1984%20-%201986/8501%20Phase%20Two.mp3","8501 Phase Two", "")
    @AudioPlayer("1984%20-%201986/8501%20Daynight.mp3","8501 Daynight", "For Angelique - best girlfriend I ever had. Too bad I turned into such a tool.")
    @AudioPlayer("1984%20-%201986/8409%20Little%20Pieces.mp3","8409 Little Pieces", "Another from the Angelique days.")
    @AudioPlayer("1984%20-%201986/8409%20In%20Spin.mp3","8409 In Spin", "Another brother David phrase I turned into a song. This song pretty much sums up my life throughout the 80's.")
    @AudioPlayer("1984%20-%201986/8408%20Whistleaditty.mp3","8408 Whistleaditty", "")
    @AudioPlayer("1984%20-%201986/8408%20We%20Are.mp3","8408 We Are", "")
    @AudioPlayer("1984%20-%201986/8408%20Two%20Hearts%20On%20TV.mp3","8408 Two Hearts On TV", "Angelique.")
    @AudioPlayer("1984%20-%201986/8408%20Going%20There.mp3","8408 Going There", "Git along gitar groovin'.")
    @AudioPlayer("1984%20-%201986/8408%20Digital%20Headache.mp3","8408 Digital Headache", "")
    @AudioPlayer("1984%20-%201986/8408%20Cubes%20Of%20Space.mp3","8408 Cubes Of Space", "Never let your girlfriend name a song - or write a song this sappy in the first place.")
    @AudioPlayer("1984%20-%201986/8408%204%20Walls.mp3","8408 4 Walls", "I ended up re-doing this song a bunch of times and (thankfully) changing most of the embarrassing lyrics.")
    @AudioPlayer("1984%20-%201986/8407%20You're%20In%20-%20with%20vocals.mp3","8407 You're In - with vocals", "Lyrics by brother Dave.")
    @AudioPlayer("1984%20-%201986/8407%20Song%20Missing.mp3","8407 Song Missing", "Foreshadowing the MIDI days (aka the Death of Creativity Days)")
    @AudioPlayer("1984%20-%201986/8407%20But%20then%20again%20-%20so%20what.mp3","8407 But then again - so what", "Some classy guitar playing.")
</table>
@section Scripts
{
    <script type="text/javascript">
        $("audio").on("play", function() {
            $("audio").not(this).each(function(index, audio) {
                audio.pause();
            });
        });
    </script>
}
