
@{
    ViewBag.Title = "Comics";
    Layout = "~/Views/Shared/_LayoutTurok.cshtml";
}

<h2>Comics</h2>
<div>
    <table class="table4Cols">
        <tr>
            <td>
                <img src="@Url.Content("~/media/Turok/images/comics/AcclaimComicSamples/TurokPrequelcvr.jpg")">
            </td>
        </tr>

        <tr>
            <td>
                <img src="@Url.Content("~/media/Turok/images/comics/AcclaimComicSamples/page1.jpg")">
            </td>
            <td>
                <img src="@Url.Content("~/media/Turok/images/comics/AcclaimComicSamples/page2.jpg")">
            </td>
        </tr>
        <tr>
            <td>
                <img src="@Url.Content("~/media/Turok/images/comics/AcclaimComicSamples/page3.jpg")">
            </td>
            <td>
                <img src="@Url.Content("~/media/Turok/images/comics/AcclaimComicSamples/page4.jpg")">
            </td>
        </tr>
        <tr>
            <td>
                <img src="@Url.Content("~/media/Turok/images/comics/AcclaimComicSamples/page5.jpg")">
            </td>
            <td>
                <img src="@Url.Content("~/media/Turok/images/comics/AcclaimComicSamples/page6.jpg")">
            </td>
        </tr>
        <tr>
            <td>
                <img src="@Url.Content("~/media/Turok/images/comics/AcclaimComicSamples/page7.jpg")">
            </td>
            <td>
                <img src="@Url.Content("~/media/Turok/images/comics/AcclaimComicSamples/page8.jpg")">
            </td>
        </tr>

    </table>
</div>
