
@{
    ViewBag.Title = "Stuff";
    Layout = "~/Views/Shared/_LayoutTurok.cshtml";
}

<h2>Stuff</h2>

<p>
    I went on a missions for a couple months to find every Turok related piece of
    merchandise I could find. There was more than I expected and I'm there might
    well be more. If you've got something to donate or sell, let me know.
</p>
<h1>Books</h1>
<p>
    There was a series of 4 books from the Turok 2 era. I made it as far as the
    first chapter of the first book. Literary greats they aren't - surprisingly
    explicit on the gore, though.
</p>

<div>
    <table class="table4Cols">
        <tr>
            <td>
                <a href="@Url.Content("~/media/Turok/images/Merchandise/Book-1.jpg" )">
                    <img src="@Url.Content("~/media/Turok/images/thumbnails/Book-1_small.jpg")">
                </a><a href="@Url.Content("~/media/Turok/images/Merchandise/Book-1-Back.jpg")">
                        <img src="@Url.Content("~/media/Turok/images/thumbnails/Book-1-Back_small.jpg")">
                </a>
            </td>
            <td>
                <a href="@Url.Content("~/media/Turok/images/Merchandise/Book-2.jpg")">
                    <img src="@Url.Content("~/media/Turok/images/thumbnails/Book-2_small.jpg")">
                </a><a href="@Url.Content("~/media/Turok/images/Merchandise/Book-2-Back.jpg")">
                        <img src="@Url.Content("~/media/Turok/images/thumbnails/Book-2-Back_small.jpg")">
                </a>
            </td>
            <td>
                <a href="@Url.Content("~/media/Turok/images/Merchandise/Book-3.jpg")">
                    <img src="@Url.Content("~/media/Turok/images/thumbnails/Book-3_small.jpg")">
                </a><a href="@Url.Content("~/media/Turok/images/Merchandise/Book-3-Back.jpg")">
                        <img src="@Url.Content("~/media/Turok/images/thumbnails/Book-3-Back_small.jpg")">
                </a>
            </td>
            <td>
                <a href="@Url.Content("~/media/Turok/images/Merchandise/Book-4.jpg")">
                    <img src="@Url.Content("~/media/Turok/images/thumbnails/Book-4_small.jpg")">
                </a><a href="@Url.Content("~/media/Turok/images/Merchandise/Book-4-Back.jpg")">
                        <img src="@Url.Content("~/media/Turok/images/thumbnails/Book-4-Back_small.jpg")">
                                        </a>
            </td>
        </tr>
    </table>

</div>

<h1>Cards</h1>
<p>Cards from the Valiant comics.</p>

<div>
    <table class="table4Cols">
        <tr>
            <td>
                <a href="@Url.Content("~/media/Turok/images/Merchandise/Card-1.jpg")">
                    <img alt="2" src="@Url.Content("~/media/Turok/images/thumbnails/Card-1_small.jpg")">
                </a><a href="@Url.Content("~/media/Turok/images/Merchandise/Card-1-Back.jpg")">
                    <img src="@Url.Content("~/media/Turok/images/thumbnails/Card-1-Back_small.jpg")">
                </a>
            </td>
            <td>
                <a href="@Url.Content("~/media/Turok/images/Merchandise/Card-2.jpg")">
                    <img alt="2" src="@Url.Content("~/media/Turok/images/thumbnails/Card-2_small.jpg")">
                </a><a href="@Url.Content("~/media/Turok/images/Merchandise/Card-2-Back.jpg")">
                    <img src="@Url.Content("~/media/Turok/images/thumbnails/Card-2-Back_small.jpg")">
                </a>
            </td>
            <td>
                <a href="@Url.Content("~/media/Turok/images/Merchandise/Card-3.jpg")">
                    <img alt="2" src="@Url.Content("~/media/Turok/images/thumbnails/Card-3_small.jpg")">
                </a><a href="@Url.Content("~/media/Turok/images/Merchandise/Card-3-Back.jpg")">
                    <img src="@Url.Content("~/media/Turok/images/thumbnails/Card-3-Back_small.jpg")">
                </a>
            </td>
            <td>
                <a href="@Url.Content("~/media/Turok/images/Merchandise/Card-4.jpg")">
                    <img alt="2" src="@Url.Content("~/media/Turok/images/thumbnails/Card-4_small.jpg")">
                </a><a href="@Url.Content("~/media/Turok/images/Merchandise/Card-4-Back.jpg")">
                    <img src="@Url.Content("~/media/Turok/images/thumbnails/Card-4-Back_small.jpg")">
                </a>
                >
            </td>
        </tr>
    </table>

</div>