<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HoltDan.com</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>
@{
    var photosRoots = ViewBag.PhotoRoots as List<string>;
    var mediaRoot = ViewBag.MediaRoot as string;
}
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HoltDan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Photos<b class="caret"></b></a>
                        <ul class="dropdown-menu" id="photosDDMenu">
                            @foreach (var d in photosRoots)
                            {
                                <li>
                                    @Html.ActionLink(d, "Photos", "Home", new { @id = @d }, null)
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Music<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>Dan Songs</li>
                            <li>@Html.ActionLink("201X", "Songs", "Home", new { @album = "201x" }, null)</li>
                            <li>@Html.ActionLink("2 2000", "Songs", "Home", new { @album = "2 2000" }, null)</li>
                            <li>@Html.ActionLink("Big Bang Theory ... And Then Some", "Songs", "Home", new { @album = "Big Bang Theory ... And Then Some" }, null)</li>
                            <li>@Html.ActionLink("1988 - 1992", "Songs", "Home", new { @album = "1988 - 1992" }, null)</li>
                            <li>@Html.ActionLink("1986 - 1989", "Songs", "Home", new { @album = "1986 - 1989" }, null)</li>
                            <li>@Html.ActionLink("1984 - 1986", "Songs", "Home", new { @album = "1984 - 1986" }, null)</li>
                            <li role="separator" class="divider"></li>
                            <li>Dan Bands</li>
                            <li>@Html.ActionLink("Social Function", "Songs", "Home", new { @album = "bands/Social Function" }, null)</li>
                            <li>@Html.ActionLink("Crossword Smile", "Songs", "Home", new { @album = "bands/Crossword Smile" }, null)</li>
                            <li>@Html.ActionLink("The Brothers Holt", "Songs", "Home", new { @album = "bands/The Brothers Holt" }, null)</li>
                            <li role="separator" class="divider"></li>
                            <li><a href="http://www.holtdan.com/media/guitar/guitarcomp.html/" target="_blank">Guitar Comp Sheet 1</a></li>
                            <li><a href="http://www.holtdan.com/media/guitar/guitarcomp2.html/" target="_blank">Guitar Comp Sheet 2</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Guitars", "Guitars", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/danJs")
    @RenderSection("scripts", required: false)
</body>
</html>
