<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HoltDan.com</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>
@{
    var photosRoots = ViewBag.PhotoRoots as List<string>;
    var mediaRoot = ViewBag.MediaRoot as string;
    var songsDict = ViewBag.SongsMap as Dictionary<string, List<string>>;
}
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HoltDan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Photos<b class="caret"></b></a>
                        <ul class="dropdown-menu" id="photosDDMenu">
                            @foreach (var d in photosRoots)
                            {
                                <li>
                                    @Html.ActionLink(d, "Photos", "Home", new { @id = @d }, null)
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Dan Music<b class="caret"></b></a>
                        <ul class="dropdown-menu" id="songsDDMenu">
                            @foreach (var kvp in songsDict)
                            {
                                <li class="artistName">
                                    @kvp.Key
                                    <ul class="no-bullets">
                                        @foreach (var v in kvp.Value)
                                        {
                                            var fName = kvp.Key + "\\" + v;
                                            <li class="danAlbumTitle">@Html.ActionLink(@v, "Songs", "Home", new { @album = fName }, null)</li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>@Html.ActionLink("OPM", "Music", "Home")</li>
                    @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Hand Exercises", "Hands", "Home")</li>
                <li>@Html.ActionLink("Zen", "Zen", "Home")</li>
            </ul>
        </li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Guitars<b class="caret"></b></a>
                        <ul class="dropdown-menu" id="guitarsDDMenu">
                            <li>@Html.ActionLink("Guitars", "Guitars", "Home")</li>
                            <li><a href="http://www.holtdan.com/media/guitar/guitarcomp.html" target="_blank">Guitar Comp Sheet 1</a></li>
                            <li><a href="http://www.holtdan.com/media/guitar/guitarcomp2.html" target="_blank">Guitar Comp Sheet 2</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/danJs")
    @RenderSection("scripts", required: false)
</body>
</html>
