@*
    Displays a single song with a Play button    
*@
@model HoltDan.Models.SongViewModel
@{ 
}
<div class="danSong" data-tracknum="@Model.TrackNum" data-secsdur="@Model.SecondsDuration" data-fname="@Model.FileName.Replace('\\','/')">
        <div class="danTransport">
            <div class="danMediaButton danPlayPauseButton">
                <b class="glyphicon glyphicon-play"></b>
            </div>
        </div>
        <div class="danTitle">@Model.Title</div>
        <div class="danPlayback"><div class="danProgress"><div class="danProgressBar"></div></div>@Model.DurationFormatted()</div>
        <div class="danNotes">@Html.Raw(Model.Notes)</div>
</div>
